@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Artsdatabankens statusside</h1>
    <p>Her kan du sjekke status på våre API-er og nettsteder.</p></<br />
    <p>
        <a href="/health">Sjekk status</a>
    </p>
</div>
